modin==0.6.3
numpy==1.17.2
textblob==0.15.2
word2number==1.1
p_tqdm==1.2
selenium==3.141.0
reverse_geocoder==1.5.1
fasttext==0.9.1
nltk==3.4.5
Unidecode==1.1.1
tqdm==4.36.1
pandas==0.25.3
gensim==3.8.0
spacy==2.1.4
pycontractions==2.0.1
beautifulsoup4==4.8.1
scikit_learn==0.21.3
